*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 
  footer{
    background-color: #fff;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    height: 200px;
    margin: 0;
    padding: 80px 0;
  }
  
  footer h1{
    color: #EF8354;
    text-align: center;
    font-size: 30px;

  }

  body{
    background-color: #fff;
  }

  .main-nav{
    background-color: #fff;
    height: 50px;
    padding-top: 8px;
  }

  .main-nav h1{
    margin: 0;
    color: #EF8354;
    font-size: 35px;
    
  }

  .box{
    height: 500px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
  }

  
  .facebook{
    background-image: url('./img/facebook.png');
  }
  .twitter{
    background-image: url('./img/twitter.png');
  }
  .instagram{
    background-image: url('./img/instagram.png');
  }

  .media-icons{
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    /* display: inline-block; */
    margin: 10px;
  }


  .social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  